[submodule "src/node_modules/node-static"]
	path = src/node_modules/node-static
	url = https://github.com/cloudhead/node-static.git
[submodule "src/node_modules/socket.io"]
	path = src/node_modules/socket.io
	url = https://github.com/learnboost/socket.io.git
[submodule "src/node_modules/operational-transformation"]
	path = src/node_modules/operational-transformation
	url = https://github.com/fitzgen/operational-transformation.git
[submodule "src/node_modules/requirejs"]
	path = src/node_modules/requirejs
	url = https://github.com/jrburke/requirejs.git
